{% load staticfiles %}

<!-- Contact Section -->
<div id="footer">
  <div class="container" id="footer">
    <div class="col-md-6" id="about">
      <h2>About Me</h2>
      <div class="section-title">
        <div class="row">
          <img src="{% static 'media/profile.png' %}" class="img-responsive pull-left" alt="">
	  <p>I'm a citizen of the world who loves mathematics and physics. I'm currently an undergrad
	  working on my BS in Physics with Concentration in Engineering, a Minor in Astronomy, and a Minor in Mathematics.
	  In my free time, I like to solve any physics
	  and math problems which pique my interest.</p>
	  <p>As a hobby, I like to work on constructed languages, and to challenge myself to translate real-life text
	into my language. This is known as conlanging, and I consider it a form of art.</p>
	  <p>I'm also interested in programming, linguistics, astronomy, and a bunch of other nerdy
	  topics.</p>
	  <p>In this website, I have all
	  my personal projects, on all these different topics. Feel free to scour around wherever
	  the links might take you!</p>
        </div>
      </div>
    </div>


    <div class="col-md-5 col-md-offset-1" id="contact">
      <h2>Contact</h2>
      <div class="section-title">
        <p>For inquiries or collaborations please contact me by email at <strong>javier@danetiska.com</strong></p>
      </div>

      <div class="social">
        <ul>
	  <li><a href=""><i class="fa fa-instagram"></i></a></li>
	  <li><a href=""><i class="fa fa-twitter"></i></a></li>
	  <li><a href=""><i class="fa fa-github"></i></a></li>
	  <li><a href=""><i class="fa fa-quora"></i></a></li>
	  <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
	  <!--<p><a href="/secret">&#960</a></p>-->
    <p>&copy; 2019 Javier Castro. All rights reserved.</p>
  </div>
</div>
